
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <li>@Html.ActionLink("画面再表示", "InputCheck", "Home")</li>
    </div>
</body>
</html>
