@model StudyProject.Controllers.Form.RegisterForm

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{    
    <h2>ユーザ登録画面</h2>
    <hr>
    <table style="text-align:left;">
        <tr>
            <td>ユーザID</td>
            <td>：@Html.TextBox("UserId")</td>
            <td style="font-size:15px; color:red">※</td>
            <td>@Html.ValidationMessageFor(model => model.UserId)</td>
        </tr>
        <tr>
            <td>ユーザ名</td>
            <td>：@Html.TextBox("UserName")</td>
            <td style="font-size:15px; color:red">※</td>
            <td>@Html.ValidationMessageFor(model => model.UserName)</td>
        </tr>
        <tr>
            <td>性別</td>
            <td>：@Html.TextBox("UserGender")</td>
        </tr>
        <tr>
            <td>パスワード</td>
            <td>：@Html.Password("Password")</td>
            <td style="font-size:15px; color:red">※</td>
            <td>@Html.ValidationMessageFor(model => model.Password)</td>
        </tr>
        <tr>
            <td>確認用パスワード</td>
            <td>：@Html.Password("ConfirmPassword")</td>
            <td style="font-size:15px; color:red">※</td>
            <td>@Html.ValidationMessageFor(model => model.ConfirmPassword)</td>
        </tr>
    </table>
    <br />
    <input type="submit" value="登録" />
}